* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #96BB7C;
    --secondary-color: #F3CD03;
    --secondary-color-1: #FFAB71;
    --secondary-color-2: #FF7171;
    --text-color: #252B42;
    --danger-color: #E74040;
    --light-background: #FFFFFF;
    --light-text-color: #FFFFFF;
    --light-gray-1: #FAFAFA;
    --primary-text-color: #96BB7C;
    --second-text-color: #737373;
    --faded-primary-color: #EFF8ED;
    --faded-secondary-color: #FFF2F3;
}

section {
    width: 100% !important;
    padding: 80px 0;
}

.text-primary {
    color: var(--primary-text-color);
}
.text-secondary {
    color: var(--second-text-color);
}
.text {
    color: var(--text-color);
}
.secondary-color-1 {
    color: var(--secondary-color-1);
}
.headline {
    /* color: var(--text-color); */
    font-weight: 900;
}
.btn {
    width: 200px;
    height: 50px;
    display: inline-block;
    padding: 5px 16px;
    margin: 2px 5px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
}
.bg-danger {
    background-color: var(--danger-color);
}
.bg-text-color {
    background-color: var(--text-color);
}
.line {
    width: 50px;
    height: 2px;
    background-color: var(--danger-color);
}
.line-xl {
    width: 94px;
    height: 7px;
    border-radius: 10px;
}
.btn-small {
    width: 100px;
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}
.btn-secondary {
    background-color: var(--light-gray-1);
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}
section.hero, .nav-bar, .about-us-cards {
    background-color: var(--light-gray-1);
}
section.courses {
    background-color: var(--faded-secondary-color);
}
.rates {
    width: 50px;
    height: 26px;
}
input {
    height: 56px;
    background-color: #E6E6E6;
    color: var(--second-text-color);
    padding: 0;
}
input:active , input:focus {
    outline: none;
}
