.nav-bar-items > ul li{
    margin: 0 20px;
}
.hero {
    height: auto;
}
@media (min-width: 1024px) {
    .nav-bar-items {
        display: flex;
    }
    .hero {
        height: 100vh;
    }
}
@media only screen and (max-width: 1024px) {
    .nav-bar-items {
        display: none;
        width: 100%;
        background-color: #FAFAFA;
        position: fixed;
        top: 80px;
        z-index: 5;
        height: 100vh;
        
    }
    .nav-bar-items ul {
        display: flex;
        flex-direction: column;
    } .nav-bar-items ul li {
        margin: 10px 0;
    }
}
.card {
    /* width: 328px; */
    height: 296px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #fff;
    margin: 0 15px 10px 15px;
    padding: 20px 30px;
    border-radius: 10px;
}
.card .icon {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .icon img {
    width: 40px;
}
.stat {
    text-align: center;
    margin: 20px 0;
}
.row-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.course-card {
    background-color: #fff;
    margin: 15px;
    width: 330px;
    
}
.course-card-header {
    height: 300px;
}
.danger-badge {
    top: 5px;
    left: 5px;
}
.shoping-items {
    bottom: 5px;
    left: 30%;
}
.shoping-items ul li {
    margin: 0 5px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-star, .fa-star-half {
    color: #FFCE31;
}
.feedback-card {
    background-color: #FFF;
    padding: 30px 15px;
}
.feedback-card-header ul li {
    margin: 0 5px;
}
.team-card {
    margin: 15px;
}
.team-card-footer ul li {
    cursor: pointer;
}
.footer .footer-content .flex .col ul li {
    margin: 10px 0;
}
.social-media-icons li {
    margin: 5px;
    cursor: pointer;
}
