.nav-bar-items > ul li{
    margin: 0 20px;
}
.hero {
    height: auto;
}
@media (min-width: 1024px) {
    .nav-bar-items {
        display: flex;
    }
    .hero {
        height: 100vh;
    }
}
@media only screen and (max-width: 1024px) {
    .nav-bar-items {
        display: none;
    }
}
.card {
    /* width: 328px; */
    height: 296px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #fff;
    margin: 0 15px 10px 15px;
    padding: 20px 30px;
    border-radius: 10px;
}
.card .icon {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .icon img {
    width: 40px;
}
.stat {
    text-align: center;
    margin: 20px 0;
}
.row-centerd {
    display: flex;
    justify-content: center;
    align-items: center;
}
